*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

a{
    text-decoration: none;

}
i{
    margin-right: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0 0 10px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav .logo a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 159, 41);
}
nav .logo span{
    font-size: 22px;
    padding: 3px 12px;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    background: linear-gradient(rgb(121, 69, 6), rgb(248, 142, 12), rgb(255, 191, 113));
}
nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 20px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}
.nav ul li a{
    color: rgb(38, 38, 38);
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.nav ul li a:hover{
    border-bottom: 3px solid rgb(179, 118, 94);
}
.nav .btn{
    padding: 8px 14px;
    background-color: black;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.nav .btn:hover{
    background-color: rgb(179, 118, 94);
    color: rgb(255, 255, 255);
}



/* HERO SECTION */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    overflow: hidden;
    height: 90vh;
    background: url('assets/back\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.hero .left{
    display: flex;
    width: 50%;
}
.hero .left img{
    width: 100%;
    position: relative;
    top: -40px;
    left: -40px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.hero .right{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.hero .right h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    border-bottom: 3px solid black;
}
.hero .right h3{
    font-size: 40px;
    color: rgb(179, 118, 94);
    text-shadow: 0 0 2px black;
    margin-bottom: 10px;
}
.hero .right p{
    font-size: 16px;
    color: rgb(90, 90, 90);
}



/* COLLECTION SECTION */

.collect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
}
.collect h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.collect p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(90, 90, 90);
}

.collect .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    gap: 4px;
}
.collect .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    width: 250px;
    overflow: hidden;
}
.collect .boxes .box img{
    width: 100%;
    height: auto;
}
.collect .boxes .box .text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.collect .boxes .box .text img{
    width: 80px;
}
.collect .boxes .box .text h4{
    font-weight: 200;
    color: rgb(124, 124, 124);
}
.collect .boxes .box .text p{
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.collect .boxes .box .text p span{
    color: rgb(124, 124, 124);
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
}
.collect .boxes .box a{
    background: black;
    color: white;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.collect .boxes .box a:hover{
    background-color: rgb(43, 139, 34);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* BRANDS SECTION */

.brand{
    background-color: rgb(25, 25, 25);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 5%;
}
.brand h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.brand p{
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(90, 90, 90);
}
.brand .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}
.brand .boxes .box{
    width: 150px;
    height: 150px;
}
.brand .boxes .box img{
    width: 100%;
    height: 100%;
}



/* ABOUT SECTION */

.about{
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.about .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.about .cont .text{
    line-height: 1.6;
    font-size: 20px;
    width: 50%;
}
.about .cont .image{
    overflow: hidden;
    width: 50%;
    height: 400px;
    border-radius: 250px;
}
.about .cont .image img{
    width: 100%;
    height: 100%;
}





        /* HR LINE */

.hr-line{
    width: 100%;
    opacity: 0.4;
    height: 2px;
}


    /* FOOTER SECTION */

.footer{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    gap: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}











@media (max-width: 768px) {
    /* nav{
        overflow: hidden;
    } */
    nav .logo a{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    }
    .nav ul{
    flex-direction: column;
    font-size: 14px;
    }


    /* HERO */
    .hero{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px 4%;
    overflow: auto;
    min-height: 90vh;
    }
    .hero .left{
        width: 100%;
    }
    .hero .right{
        width: 100%;
    }
    .hero .right h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    border-bottom: 3px solid black;
    }
    .hero .right h3{
    font-size: 20px;
    }
    .hero .right p{
        font-size: 8px;
    }


        /* COLLECTION */
    .collect{
        padding: 40px 4%;
    }
    .collect h1,
    .brand h1,
    .about h1{
    font-size: 30px;
    margin-bottom: 10px;
    }
    .collect p{
        font-size: 12px;
        text-align: left;
    }
    

        /* BRAND */
    .brand{
        padding: 40px 4%;
    }

        /* ABOUT */
    .about{
    padding: 50px 4%;
    }
    .about .cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .about .cont .image,
    .about .cont .text{
    flex: 1;
    overflow: hidden;
    width: 100%;
    border-radius: 0;
    }

        /* FOOTER */
    .footer{
        display: block;
    }
    .footer ul{
        display: block;
    }
}